/* colors */
/* background-color: #5a554c;  this is a light brown */



* {
  margin: 0px;
  padding: 0px;

}

body {
  height: 100%;
  background-color: #2c332d;
  overflow: hidden;
}

@keyframes translateUp {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-150px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  opacity: 0;
  font-family: "Playfair Display", serif;
  font-size: 65px;
  letter-spacing: 1px;
  animation: fadeIn 2s forwards;
}

.subtitle {
  opacity: 0;
  color: darkgray;
  font-size: 40px;
  font-weight: 600;
  animation: fadeIn 2s 1.5s forwards;
}


.main-container {
  color: #ffebcd;
  margin: 20px;
  border: 3px solid #ffebcd;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}



.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  animation: translateUp 2.5s 3s forwards;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.option-container {
  opacity: 0;
  display: flex;
  gap: 80px;
  animation: fadeIn 1.5s 4s forwards;
  margin-top: 40px;
}


.option-container button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  width: 280px;
  height: 320px;
  background-color: #5a554c;
  border-style: none;
  border: 6px solid #ffebcd;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.option-container button img {
  margin-bottom: 10px;
}

.option-title {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  color: white;
  font-style: bold;
}

.option-description {
  font-family: "Rubik", sans-serif;

  font-style: bold;
  font-size: 20px;
  color: white;
}

.option-container button:hover {
  transform: scale(1.1);
}

.option-container button::selection {
  transform: translateX(35px);
}

#calculator-icon {
  width: 170px;
}

nav {
  display: flex;
  height: 100px;
  background-color: #1f2821;
  border-radius: 25px;
  align-items: center;
  color: white;
  margin: 10px;

}

nav p {
  opacity: 0;
  font-family: "Playfair Display", serif;
  font-size: 65px;
  letter-spacing: 1px;
  animation: fadeIn 2s forwards;
  font-weight: 600;
  color: #ffebcd;
}

nav button {
  background-color: transparent;
  border-style: none;
  border-radius: 20px;
}

nav button:hover {
  background-color: #a9acb3;
}

nav button img {
  width: 80px;
}


#calculator-container {
  margin-top: 10px;
  background-color: #5a554c;
  border: 7px solid #ffebcd;
  border-radius: 20px;
  height: 530px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#calories-form {
  width: 10%;
}

#calories-form label {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: white;
}

#calories-form input {
  width: 80%;
  height: 50px;
  font-size: 20px;
  border: 8px solid rgb(93, 63, 22)
}

#calories-form button {
  height: 50px;
  width: 100px;
  height: 60px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: "Rubik", sans-serif;
  background-color: #a28d6c;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;

}

.calc-description {

  margin: 10px;
  height: fit-content;
  font-size: 23px;
  color: white;
  text-align: center;
  font-weight: 500;
}

#input-form {
  flex-direction: row;
  width: fit-content;
  width: 80%;
  gap: 20px;
}


#foods-input {
  height: 50px;
  width: 70%;
  border: 3px solid black;
  padding: 2px;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
  padding-left: 10px;
}

#input-form button {
  height: 50px;
  width: 100px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: "Rubik", sans-serif;
  background-color: #a28d6c;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

#input-form button:hover {
  background-color: rgb(88, 76, 36);
}




#list-output {
  background-color: #a9acb3;
  margin: 20px;
  padding: 20px;
  width: 80%;
  height: 250px;
  overflow: auto;
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}

li {
  margin-left: 20px;

}



#chat-log {
  font-family: "Rubik", sans-serif;
  background-color: white;
  width: 60%;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  padding: 2px;
  font-size: 30px;
  align-items: center;
  padding-left: 30px;

}

.chat-response-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 70px;
  margin-bottom: 10px;
  gap: 100px;
  align-items: center;

}

#main-calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


