/* colors */
/* background-color: #5a554c;  this is a light brown */



* {
  margin: 0px;
  padding: 0px;

}

body {
  height: 100%;
  background-color: #2c332d;
  overflow: hidden;
}

@keyframes translateUp {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-150px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  opacity: 0;
  font-family: "Playfair Display", serif;
  font-size: 65px;
  letter-spacing: 1px;
  animation: fadeIn 2s forwards;
}

.subtitle {
  opacity: 0;
  color: darkgray;
  font-size: 40px;
  font-weight: 600;
  animation: fadeIn 2s 1.5s forwards;
}


.main-container {
  color: #ffebcd;
  margin: 20px;
  border: 3px solid #ffebcd;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}



.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  animation: translateUp 2.5s 3s forwards;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.option-container {
  opacity: 0;
  display: flex;
  gap: 80px;
  animation: fadeIn 1.5s 4s forwards;
  margin-top: 40px;
}


.option-container button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  width: 280px;
  height: 320px;
  background-color: #5a554c;
  border-style: none;
  border: 6px solid #ffebcd;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.option-container button img {
  margin-bottom: 10px;
}

.option-title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: white;
  font-style: bold;
}

.option-description {
  font-family: "Playfair Display", serif;

  font-style: bold;
  font-size: 20px;
  color: white;
}

.option-container button:hover {
  transform: scale(1.1);
}

.option-container button::selection {
  transform: translateX(35px);
}

#calculator-icon {
  width: 170px;
}

nav {
  display: flex;
  height: 100px;
  border: 5px solid #ffebcd;
  border-radius: 20px;
  align-items: center;
  color: white;
  margin: 10px;

}

nav p {
  opacity: 0;
  font-family: "Playfair Display", serif;
  font-size: 65px;
  letter-spacing: 1px;
  animation: fadeIn 2s forwards;
  font-weight: 600;
  color: #ffebcd;
}

#calories-form {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 5px solid black;
  margin-bottom: 30px;
}

#calories-form input {
  height: 40px;
  font-size: 30px;
  margin: 5px;
}

.calorie-calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  margin: 20px;
  width: 600px;
}

#entered-items {
  max-height: 300px;
  overflow: auto;
  width: 400px;
  background-color: lightslategray
}

.food-list-item {
  background-color: orange;
  height: 20px;
}